<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Employee</title>
  </head>
  <body>
    <h1>Add Employee Form</h1>

    <form action="/employees/add" method="POST">
      <div>
        <label for="">Name</label>
        <div>
          <input type="text" name="name" value="<%= employee.name %>" />
        </div>
      </div>
      <div>
        <label for="">Position</label>
        <div>
          <input type="text" name="name" value="<%= employee.name %>" />
        </div>
      </div>
      <div>
        <label for="">Education</label>
        <div>
          <input type="text" name="name" value="<%= employee.name %>" />
        </div>
      </div>
      <div>
        <label for="">Email</label>
        <div>
          <input type="text" name="name" value="<%= employee.name %>" />
        </div>
      </div>
      <div>
        <label for="">Phone Number</label>
        <div>
          <input type="text" name="name" value="<%= employee.name %>" />
        </div>
      </div>
      <div>
        <label for="">Profile Picture</label>
        <div>
          <input type="text" name="name" value="<%= employee.name %>" />
        </div>
      </div>
      <div>
        <label for="">Age</label>
        <div>
          <input type="text" name="name" value="<%= employee.name %>" />
        </div>
      </div>
    </form>
  </body>
</html>
