<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee - Home</title>
  </head>
  <body>
    <h1>THIS IS THE HOMEPAGE!!!!!</h1>
    <li><a href="/" class="button">Home</a></li>
    <li><a href="/employees/add" class="button">Add Employee</a></li>

    <br />

    <table border="1px solid black">
      <tr>
        <td>Number</td>
        <td>Photo</td>
        <td>Name</td>
        <td>Position</td>
        <td>Age</td>
        <td>Eductation</td>
        <td>Action</td>
      </tr>

      <% employees.forEach((employee) => {%>
      <tr>
        <td><%= employee.id%></td>
        <td>
          <img
            src="<%= employee.profile_picture %>"
            alt="employee photo"
            style="max-width: 100px"
          />
        </td>
        <td><%= employee.name%></td>
        <td><%= employee.position%></td>
        <td><%= employee.age%></td>
        <td><%= employee.education%></td>
        <td>
          <a href="/employees/<%= employee.id%>">See Detail</a>
          <a href="/employees/<%= employee.id%>/delete">Delete</a>
        </td>
      </tr>
      <% })%>
    </table>
  </body>
</html>
